# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [3]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

jeopardy_data = pd.read_csv("jeopardy.csv")
print(jeopardy_data.head())
print(jeopardy_data.columns)

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams
Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

We can see there is a leading space in all the column headings except for Show Number. Lets remove leading spaces.

In [4]:
jeopardy_data.columns = jeopardy_data.columns.str.strip()
print(jeopardy_data.columns)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [5]:
def filter_data(data, words):
    for word in words:
        data = data[data["Question"].str.contains(word, case=False, na=False)]
    return data

filtered = filter_data(jeopardy_data, ["Queen", "Scotland"])
print(filtered)

        Show Number    Air Date             Round  \
7743           5146  2007-01-15  Double Jeopardy!
50374          3277  1998-12-01  Double Jeopardy!
51910          4895  2005-12-16         Jeopardy!
52709          3563  2000-02-16         Jeopardy!
63670          5565  2008-11-14  Double Jeopardy!
75825          2982  1997-07-15  Double Jeopardy!
103940         3545  2000-01-21  Double Jeopardy!
121731         3721  2000-11-06         Jeopardy!
155703         5853  2010-02-10         Jeopardy!
175600         3185  1998-06-05         Jeopardy!
187124         4651  2004-11-22         Jeopardy!
195272         1296  1990-04-02  Double Jeopardy!

                           Category  Value  \
7743                ROYAL BRITANNIA   $800
50374   A FEW WORDS FROM WORDSWORTH   $800
51910                  CHICKS RULE!   $800
52709                   WOMEN RULE!   $100
63670              TEENS IN HISTORY  $1600
75825             PEOPLE IN HISTORY   $200
103940                        SPANS   $800
121731                     SCOTLAND   $100
155703            OSCARS SINCE 2000   $600
175600                  WOMEN RULE!   $400
187124                 WORD ORIGINS   $600
195272                      PALACES   $400

                                                                                                                  Question  \
7743    In 1707 her title changed to Queen of Great Britain & Ireland (it used to be Queen of England, Scotland & Ireland)
50374                A poem about her ends with the words "Ere the tired head of Scotland's queen reposed upon the block!"
51910   In 1559, filling out an already impressive resume, she became queen consort of France as well as queen of Scotland
52709                                               She was less than a week old when she became queen of Scotland in 1542
63670                          King James VI of Scotland was kidnapped at age 15 while his mom, this queen, was a prisoner
75825                                                        Executed in 1587, she was the last reigning queen of Scotland
103940                                      A rail bridge across this firth at Queensferry, Scotland has 2 1700-foot spans
121731                       When in Scotland, the queen often stays at the luxurious palace of Holyroodhouse in this city
155703            When Helen Mirren won in 2007 for playing "The Queen", he won best actor for "The Last King of Scotland"
175600                                    This queen of Scotland got the ax -- literally -- at Fotheringhay Castle in 1587
187124          Originally used to designate an errand boy, it was introduced into Scotland by golfer Mary, Queen of Scots
195272                                 From 1561-1567, Holyrood Palace in Edinburgh was the home of this queen of Scotland

                                    Answer
7743                            Queen Anne
50374                 Mary, Queen of Scots
51910                          Mary Stuart
52709        Mary, Queen of Scots (Mary I)
63670                 Mary, Queen of Scots
75825                 Mary, Queen of Scots
103940                  the Firth of Forth
121731                           Edinburgh
155703                    Forrest Whitaker
175600  Mary, Queen of Scots (Mary Stuart)
187124                             a caddy
195272                         Mary Stuart

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [6]:
# We already deal with case. 
questions_on_bridge = filter_data(jeopardy_data, ["bridge", "card"])
print(questions_on_bridge)

        Show Number    Air Date             Round  \
19181          3109  1998-02-19         Jeopardy!
76899          1634  1991-10-10         Jeopardy!
99339          4332  2003-06-03         Jeopardy!
102428         4991  2006-05-01  Double Jeopardy!
158041         3641  2000-06-05         Jeopardy!
183687         6269  2011-12-15  Double Jeopardy!

                                  Category  Value  \
19181                           CARD GAMES   $500
76899                                GAMES   $500
99339                                 PLAY  $1000
102428  YOU'RE PLAYING GAMES WITH ME, ALEX   $400
158041                     BODIES OF WATER   $500
183687                            MIDDLE T  $1200

                                                                                                        Question  \
19181                             The bidding period of a card game; types of bridge & pinochle are named for it
76899      In bridge, an attempt to take a trick with a low card while holding on to a higher one is called this
99339    Like many real 18th century gents, fictional Horatio Hornblower enjoys this card game related to bridge
102428  Whist, bridge & euchre are in the family of card games in which you win by capturing rounds called these
158041                 Using reinforced concrete, Italian engineer Riccardo Morandi bridged this Venezuelan lake
183687          I have $1,200 for knowing this term, also a type of bridge card game...$1,200 once! twice! sold!

                Answer
19181          Auction
76899        a finesse
99339            whist
102428          tricks
158041  Lake Maracaibo
183687         auction

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [12]:
jeopardy_data["float_value"] = jeopardy_data["Value"].apply(lambda x: float(x[1:].replace(",", "")) if x != "no value" else 0)
wimbledon_questions = filter_data(jeopardy_data, ["wimbledon"])
print(wimbledon_questions)
print(wimbledon_questions["float_value"].mean())

        Show Number    Air Date             Round              Category  \
1115           4085  2002-05-10  Double Jeopardy!  WE ARE THE CHAMPIONS
2528           5282  2007-07-24         Jeopardy!        SPORTS LEGENDS
3651           5352  2007-12-11         Jeopardy!                  1987
5709           4254  2003-02-13         Jeopardy!       FEMALE ATHLETES
9797           6088  2011-02-16  Double Jeopardy!         WHAT TO WEAR?
...             ...         ...               ...                   ...
210283         3821  2001-03-26  Double Jeopardy!        TOURIST TREATS
210509         3685  2000-09-15         Jeopardy!           SPORTS 2000
213710         3473  1999-10-13         Jeopardy!          SPORTS STARS
213783         4602  2004-09-14         Jeopardy!  OH, FOR PETE'S SAKE!
216328         3919  2001-09-20         Jeopardy!                  2000

         Value  \
1115    $1,200
2528     $1000
3651      $400
5709      $800
9797     $1600
...        ...
210283    $200
210509    $400
213710    $200
213783    $800
216328    $100

                                                                                                                 Question  \
1115                                At Wimbledon 2000, Venus Williams expressed appreciation for this 1957 & '58 champion
2528                             This Czech-born woman who retired in 2006 won a record 9 Wimbledon Singles Championships
3651                                        Pat Cash beat this Czech-born tennis great to win the Wimbledon singles title
5709     This tennis player won women's singles titles at Wimbledon in 2000 & 2001, but lost to her little sister in 2002
9797                                                     If you're wearing Wellingtons at Wimbledon, you're wearing these
...                                                                                                                   ...
210283                                          A traditional treat served at Wimbledon consists of these berries & cream
210509                      She dispatched sister Serena at Wimbledon & went on to defeat Lindsay Davenport for the title
213710  The first U.S. tennis player to win $100,000 in a year, in 1975 he became the first black man to win at Wimbledon
213783                                              In 2000 he won the Wimbledon men's singles, his 13th Grand Slam title
216328                                           Members of this family won women's singles & doubles titles at Wimbledon

                         Answer  float_value
1115              Althea Gibson       1200.0
2528        Martina Navratilova       1000.0
3651               (Ivan) Lendl        400.0
5709             Venus Williams        800.0
9797    rainboots (or galoshes)       1600.0
...                         ...          ...
210283             Strawberries        200.0
210509           Venus Williams        400.0
213710              Arthur Ashe        200.0
213783             Pete Sampras        800.0
216328                 Williams        100.0

[73 rows x 8 columns]
683.5616438356165

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [13]:
def get_answer_counts(data):
    return data["Answer"].value_counts()

print(get_answer_counts(filtered))

Answer
Mary, Queen of Scots                  3
Mary Stuart                           2
Queen Anne                            1
Mary, Queen of Scots (Mary I)         1
the Firth of Forth                    1
Edinburgh                             1
Forrest Whitaker                      1
Mary, Queen of Scots (Mary Stuart)    1
a caddy                               1
Name: count, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [16]:
jeopardy_data["Air Date"] = pd.to_datetime(jeopardy_data["Air Date"])
jeopardy_data["Decade"] = ((jeopardy_data["Air Date"].dt.year // 10) * 10).astype(str) +"s"
computer_by_decade = jeopardy_data[jeopardy_data["Question"].str.contains("computer", case=False, na=False)].groupby("Decade").size()

print(computer_by_decade)

Decade
1980s      6
1990s     98
2000s    268
2010s     59
dtype: int64

In [20]:
round_category_counts = jeopardy_data.groupby(["Round", "Category"]).size().sort_values(ascending=False)
print(round_category_counts.head(10))

Round             Category
Double Jeopardy!  BEFORE & AFTER     450
                  LITERATURE         381
                  SCIENCE            296
Jeopardy!         POTPOURRI          255
                  STUPID ANSWERS     255
Double Jeopardy!  WORLD GEOGRAPHY    254
Jeopardy!         SPORTS             253
Double Jeopardy!  OPERA              250
                  WORLD HISTORY      237
Jeopardy!         ANIMALS            233
dtype: int64